PORT=

# PostgreSQL connection
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
# Set to true only if your Postgres instance requires SSL (e.g. cloud provider)
DB_SSL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS
CLIENT_ORIGIN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=dep0n9wz7
CLOUDINARY_API_KEY=531163897971879
CLOUDINARY_API_SECRET=Wg08zCwoHlDpm6fj_QK3p3vBBEY

